html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
}

button {
    outline: none;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.content__number {
    display: block;
    background: #ddd;
    width: 150px;
    height: 24px;
    line-height: 24px;
    border-radius: 4px;
}

.content__button {
    display: block;
    background: #00aa00;
    border: none;
    color: white;
    width: 150px;
    height: 24px;
    line-height: 24px;
    margin-top: 24px;
    border-radius: 4px;
}

.content__button:hover {
    background: #009900;
}
